<div class="weather-card">
  <h3 class="cityname">City</h3>
  <h4 class="weather-main">Cloudy</h4>

  <p class="temperature">75&deg</p>
  <p class="today-date">Today's date</p>
  <div class="button-container">
    <button class="see-more">See More</button>
  </div>
</div>
